

<div id="wrap">
	{{partial 'header'}}

	<div class="container">
		{{outlet}}
	</div>

</div>

<div id='footer'>
	<div class="container">
		<p>&copy;2013 Campaign Creator. All rights reserved.</p>
	</div>
</div>

