
<h2> Welcome to the Campaign Creator {{first_name}}!</h2>

<h4>Eventually we hope to populate this page with some really cool features. But for now, click on the obnoxiously large button below to create your first sweepstakes app.</h4>

<div><a class="btn btn-lg btn-success" href="#" role="button"{{action 'create'}}>Create a new App</a></div>
